.mainSection {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin: 5px 5px;
  padding: 5px;

  animation: example 1s ease-in-out infinite alternate;
  animation-duration: 4s;

  /* background: rgb(191, 103, 250); */
}
.main-div {
  padding: 50px;
}
.name-section {
  background-color: #000 !important;
}

.image {
  height: 300px;
  width: 300px;
  border: 2px solid #000;
  border-radius: 200px;
}

@keyframes example {
  0% {
    background-color: #6e72551f;
  }
  50% {
    background-color: #96704ba3;
  }
  100% {
    background-color: #21233521;
  }
  /* 100% {
      background-color: #96704ba3;
    } */
}

.glow {
  font-size: 30px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.social-media {
  float: right;
  margin-top: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .main-div .instagram {
  margin-top: 200px;

  float: right;

  
  position: fixed;
} */
