#main {
  border: 3px solid #000;
  text-align: center;
  background: rgb(0, 0, 0);
}

.glow {
  font-size: 30px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

#name {
  /* vertical-align: baseline !important; */

  --container-corvid-border-color: rgba(
    var(--brd, var(--color_15)),
    var(--alpha-brd, 1)
  );
  --container-corvid-border-size: var(--brw, 1px);
  --container-corvid-background-color: rgba(
    var(--bg, var(--color_11)),
    var(--alpha-bg, 1)
  );

  width: 165px;
  height: 120px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
  margin-top: 10px;

  text-align: center;
  padding-top: auto;

  text-decoration: dashed;

  /* width: 120px;
  border: solid 0.5px black;
  height: 120px;
  text-align: center;
  margin-left: 100px;
  margin-top: 10px; */
}

.name {
  border: var(--container-corvid-border-width, var(--brw, 1px)) solid
    var(
      --container-corvid-border-color,
      rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1))
    );
  background-color: var(
    --container-corvid-background-color,
    rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1))
  ) !important;
  border-radius: var(--rd, 5px);
  box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, 0.6));
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;

  width: 100%;
  /* height: 70%; */
}

.mainSection {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin: 5px 5px;
  padding: 5px;

  /* background: rgb(191, 103, 250); */
}
