#main {
  border: 3px solid #000;
  text-align: center;
  background: rgb(0, 0, 0);
}

.glow {
  font-size: 30px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

#name {
  /* vertical-align: baseline !important; */

  --container-corvid-border-color: rgba(
    var(--brd, var(--color_15)),
    var(--alpha-brd, 1)
  );
  --container-corvid-border-size: var(--brw, 1px);
  --container-corvid-background-color: rgba(
    var(--bg, var(--color_11)),
    var(--alpha-bg, 1)
  );

  width: 165px;
  height: 120px;
  justify-self: start;
  margin-left: 80px;
  align-self: start;
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
  margin-top: 10px;

  text-align: center;
  padding-top: auto;

  text-decoration: dashed;
}

.name-box {
  border: var(--container-corvid-border-width, var(--brw, 1px)) solid
    var(
      --container-corvid-border-color,
      rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1))
    );
  background-color: var(
    --container-corvid-background-color,
    rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1))
  ) !important;
  border-radius: var(--rd, 5px);
  box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, 0.6));
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mainSection {
  background-color: #000;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;

  width: auto;
  height: auto;
  /* width: 100%;
  height: 70%; */
}
/* section {
  background-color: #000;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
 
  width: 100%;
  height: 70%;
} */
.main-div {
  margin: auto;
  /* width: 97%; */
  width: auto;
  height: auto;
  /* border: 3px solid #73ad21; */
  padding: 10px;
}
.img2 {
  margin-bottom: 100px;
}
.image-blurred-edge {
  box-shadow: inset 1 1 black;
}
